<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <%- include('partials/head.ejs')%>
  </head>
  <body>
    <%- include('partials/navigation.ejs')%>
    <!-- <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">Sobre mí</h1>
        <p>

        </p>
      </section>
    </main> -->
    <div class="container">

      <div class="row">
        <div class="col-12">
        
          <h1 class="display-4 text-center">Sobre mí</h1>
    
          <p class="lead">
            Soy un entusiasta estudiante de Ingeniería de Sistemas de 20 años de
            edad, apasionado por continuar creciendo en el campo de la
            programación y la tecnología. Constantemente busco nuevos desafíos que
            me permitan poner a prueba mis habilidades para resolver problemas de
            manera creativa a través del código. Me especializo en
            <strong>Backend</strong>, pero estoy ávido por expandir mis
            conocimientos y dominar nuevas herramientas. Disfruto analizar un
            problema, diseñar una solución eficiente y luego implementarla
            limpiamente en código bien documentado. Aunque gran parte de mi tiempo
            lo dedico al estudio y a proyectos personales de programación, también
            soy un ávido deportista. Practicar fútbol y baloncesto me ha enseñado
            el espíritu de equipo y me ayuda a mantener una mente ágil. En mis
            ratos libres también disfruto jugar videojuegos, lo cual me permite
            relajarme y mantenerme al día con las últimas tendencias en tecnología
            y diseño. Como estudiante de ingeniería, no solo busco culminar
            exitosamente mi carrera, sino también adquirir todas las habilidades
            blandas necesarias para tener una carrera gratificante. Me considero
            una persona proactiva, con facilidad para el trabajo en equipo y una
            sólida ética de trabajo. Estoy seguro que mi pasión por la
            programación, mi permanente sed de conocimiento y mis habilidades
            interpersonales me permitirán aportar valor como desarrollador en
            cualquier equipo de trabajo."
          </p>
        
        </div>
      </div>
    
    </div>



    <%- include('partials/footer.ejs')%>
  </body>
</html>
