<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <%- include('partials/head.ejs')%>
  </head>
  <body>
    <%- include('partials/navigation.ejs')%>
    <main
      class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display-1">Sobre mí</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum
          blanditiis cumque fugiat consectetur, amet hic adipisci officia dolore
          iure sint in est. Expedita fuga voluptas, debitis vitae doloribus unde
          asperiores sunt ut, optio suscipit odit adipisci! Illo accusamus
          dolorem alias quo. Officia nihil id sunt excepturi velit! Eos, ad
          dolorem repellendus possimus et laborum perspiciatis est ipsum
          accusantium facere at exercitationem praesentium iste temporibus
          corporis quidem amet molestiae, incidunt dignissimos deleniti id minus
          officiis non ullam? Quia dolores rem saepe ipsam distinctio eos, omnis
          est ut eum corrupti recusandae placeat sapiente a ex, perspiciatis
          sunt repudiandae cumque odit officiis itaque doloribus maiores
          perferendis? Eaque consequatur officia assumenda deleniti, laboriosam
          sed voluptatem corrupti, ratione itaque illo ipsa vitae labore ducimus
          dolorem ut minus? Quod, iste eos quidem possimus, natus eum voluptates
          ut at et est dicta magni laborum. Nulla facilis rem quae a quia
          numquam? Aut in, eos explicabo eligendi maiores delectus iure nulla.
          Ratione ipsam sit nemo atque reprehenderit placeat recusandae iure
          eaque quis voluptatem facilis id consectetur qui mollitia non quam
          nulla, dolorem voluptatum quisquam culpa voluptas. Quidem laborum
          impedit, dolor officia maiores nam esse accusantium sapiente optio
          amet placeat excepturi ullam libero repellat eaque omnis asperiores
          quibusdam obcaecati.
        </p>
      </section>
    </main>

    <%- include('partials/footer.ejs')%>
  </body>
</html>
