<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head.ejs')%>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-5QX96V46EZ");
    </script>
  </head>
  <body>
    <%- include('partials/navigation.ejs')%>
    <!-- mein contenido  -->
    <header
      class="container vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/perfil.jpg" alt="" class="w-50 logo" />
        <h1 class="display-1 my-5 text-uppercase fw-boold">Johan</h1>
        <a href="/about" class="btn btn-primary text-uppercase fw-bold w-25">
          Sobre mí
        </a>
      </div>
    </header>
    <%- include('partials/footer.ejs')%>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-5QX96V46EZ"
    ></script>
  </body>
</html>
